body{
    background: #fff;
        font-family: "Poppins", sans-serif;
}
section{
    padding: 50px 0;
}
*{
    margin: 0;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
img{
    display: block;
}
a{
    text-decoration: none
}
.container{
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1150px;
}
.container-header{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
.menu-nav, .menu-btn{
    list-style: none;
}
.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu-nav{
    display: flex;
    gap: 30px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}
.logo-text, .menu-nav, .menu-btn{
    padding: 26px 0;
}
.menu-btn{
    display: flex;
    gap: 21px;
}
.menu-li{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.logo-text{
font-weight: 700;
font-size: 30px;
line-height: 0.93333;
color: #173a56;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
gap: 16px;
}
.menu-btn .btn-in{
    padding: 9px 14px;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    min-width: 105px;
}
.menu-btn .btn-up{
    padding: 9px 14px;
    border-radius: 4px;
    background-color:#02897a;
    color: #fff;
    border: none;
    min-width: 113px
}

.btn-in:hover,
.bnt-in:focus{
    color: #fff;
    background: #02897a;
}
.btn-up:hover,
.btn-up:focus{
    color: #02897a;
    background: #fff;
}



.nav-btn{
font-weight: 600;
font-size: 16px;
text-align: center;
color: #173a56;
}
.menu-li a{
    color: #22343d;
}
.menu-nav li{
text-decoration: none;
font-weight: 400;
font-size: 16px;
line-height: 1.75;
}
.btn-tel{
    display: none;
}
.menu-nav .menu-li:nth-child(2){
    font-weight: 600;
}
/*#region section 1*/
.cnt-one{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.text-cst-one{
    align-items: start;
}
.text-hero{

font-size: 40px;
line-height: 1.5;
color: #22343d;
margin-bottom: 18px;
}
.text-tools{
font-weight: 400;
font-size: 18px;
line-height: 1.55556;
color: #22343d;
margin-bottom: 45px;
}
.section-one{
    padding-top: 0;
}
.btn-menu{
    display: flex;
    gap: 30px;
}
.btn-get{
    background: #02897a;
    border-radius: 4px;
    border: none;
width: 178px;
padding: 15px 42px;
font-weight: 700;
font-size: 16px;
color: #fff;
}

.btn-get:hover,
.btn-get:focus{
color: #02897a;
background: #fff;
}
.btn-watch{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    color: #02897a;
}


/*#endregion section 1*/

/*#region section 2*/

.wrapper{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center; 
gap: 50px;
}
.main-text-sctwo{
font-weight: 700;
font-size: 32px;
text-align: center;
color: #22343d;
width: 489px;

}
.menu-ul-sctwo{
 list-style: none;
 
 display: flex;
 justify-content: center;
 
 gap: 30px;
}
.icons-sctwo{
 display: flex;
 justify-content: baseline;
}
.menu-li-cstwo{
    width: 255px;
}
.menu-li-cstwo h3{
font-weight: 600;
font-size: 22px;
color: #22343d;
margin-bottom: 13px;
}
.icons-sctwo{
    margin-bottom: 26px;
}
.icons-setings{
fill: #fff;
padding: 26px;
border-radius: 19px;
}
.icons-setings.gren{
 background: #02897a;
}
.icons-setings.blue{
background: #4d8dff;
}
.icons-setings.purp{
    background: #740a76;
}
.icons-setings.red{
    background: #f03e3d;
}
.menu-li-cstwo p {
font-weight: 400;
font-size: 16px;
line-height: 1.625;
color: #22343d;
}
.button-sctwo{
font-weight: 700;
font-size: 16px;
color: #fff;

    background: #02897a;
    border-radius: 4px;
    padding: 15px 32px;
    border: none;
    width: 175px;
}
.button-sctwo:hover,
.button-sctwo:focus{
    background: #fff;
    color: #02897a;
}

/*#endregion section 2*/

/*#region section 3*/

.sct-three{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 84px;
}
.text-upp-h2{
    font-weight: 600;
font-size: 16px;
color: #22343d;
margin-bottom: 8px;
}
.section-three h2{
    font-weight: 700;
font-size: 32px;
color: #22343d;
margin-bottom: 25px;
}
.text-down-h2{
font-weight: 400;
font-size: 16px;
line-height: 1.625;
color: #22343d;
margin-bottom: 30px;
}
.block-sect-three{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.text-for-h3{
    font-weight: 600;
font-size: 16px;
line-height: 1.625;
color: #22343d;
margin-bottom: 12px;
}
.section-three-ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 25px;
}
.section-three-li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 450px;
}
.icons-three{
    border: 2.92px solid #fff;
border-radius: 14px;

display: flex;
justify-content: center;
align-items: center;
}
.yellow-icons{
    background: #f90;
}
.checl-icons{
    padding: 12px 10px;
    fill: #fff;
}
.blue-icons{
background: #4d8dff;
}
.red-icons{
    background: #f03e3d;
}
.text-after-icons{
    font-weight: 400;
font-size: 16px;
line-height: 1.625;
color: #22343d;
}

/*#endregion section 3*/

/* #region Section-four */
.section-four .wrapper{
    gap: 0;
}
.h2-section-four{
font-size: 32px;
text-align: center;
color: #22343d;
margin-bottom: 25px;
}
.after-h2{
    margin-bottom: 40px;
    font-weight: 500;
font-size: 16px;
line-height: 1.625;
text-align: center;
color: #22343d;
}
.all-carts{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: wrap;
 flex-wrap: wrap;
 gap: 25px 91px;
 margin-bottom: 50px;
 
}
.carts-section-four{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 408px;
}
.text{
    font-weight: 500;
font-size: 16px;
text-align: center;
color: #2f281e;
}
.text-left{
margin-right: 40px;
}
.text-right{
 margin-left: 40px;
}

.btn-section-four{
    background: #02897a;

    border-radius: 4px;
    width: 216px;
    border: none;

    font-weight: 700;
    font-size: 16px;
    color: #fff;
    padding: 15px 30px;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn-section-four:hover,
.btn-section-four:focus{
    background: #173a56;
}
/* #endregion Section-four */

/* #region Sect-five-- */

.section-five .wrapper{
    gap: 0;
    justify-content: start;
    align-items: start;
}
.section-five h2{
    font-size: 34px;
color: #22343d;
margin-bottom: 10px;
}
.section-five-text{
    font-weight: 500;
font-size: 16px;
line-height: 1.625;
color: #22343d;
width: 465px;
margin-bottom: 40px;
}

.ul-menu-sect-five{
display: flex;
justify-content: center;
align-items: center;
gap: 30px;
}
.li-elem-sect-five{
 width: 100%;
}

.photo-section-five{
    margin-bottom: 24px;
}
.text-section-five{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 24px;
    padding-right: 27px;
}
.span-sect-five{
    font-weight: 700;
}
.first-text{
font-weight: 400;
font-size: 16px;
line-height: 1.75;
color: #22343d;
}
.second-text{
font-weight: 700;
font-size: 24px;
line-height: 1.66667;
color: #22343d;

}
.nice-text{
    color: #02897a;
}

/* #endregion Sect-five-- */

/* #region Per-start */
/* Section Per start*/
.carts .wrapper{
    gap: 0;
}
.carts h2{
font-weight: 700;
font-size: 34px;
color: #22343d;
margin-bottom: 10px;
}
.text-after-h2{
font-weight: 500;
font-size: 16px;
color: #22343d;
margin-bottom: 40px;
}

.menu-cart{
    display: flex;
    gap: 72px;
}
.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.cart h3{
font-weight: 700;
font-size: 24px;
line-height: 1.66667;
color: #22343d;
margin-bottom: 8px;
margin-top: 32px;
}
.text-after-h3{
    font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 2.5;
color: #22343d;
margin-bottom: 16px;

}

.cart-offter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 30px;
}


.menu-li-prise{
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
background: #fff;
width: 322px;

}
.btn-prise{
    font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 18px;
color: #fff;

background: #02897a;
padding: 11px 18px;
border: none;
border-radius: 8px;
margin-bottom: 32px;
}
.btn-prise:hover,
.btn-prise:focus{
    background: #fff;
    color: #02897a;
}

.green-cart, .green-cart h3{
    background: #02897a;
    color: #fff;
}
.green-btn{
    color: #02897a;
    background: #fff;
}

.green-btn:hover,
.green-btn:focus{
    background: #02897a;
    color: #fff;

}
.green-text{
    color: #fff;
}
.white-text{
    color: #02897a;
}

.pricing-card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.curently{
    font-family: "Montserrat", sans-serif;
font-weight: 700;
font-size: 76px;
line-height: 1.31579;
letter-spacing: 0em;
text-align: center;
color: #02897a;
margin-right: 10px;
}
.pricing-card-two{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.dollar{
    font-family: "Montserrat", sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 1.25;
letter-spacing: 0em;
color: #02897a;
}
.per-mounts-pay{
    font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.1875;
letter-spacing: 0.01em;
color: #afafaf;
}

.white-text{
    color: #fff;
}
.white-per{
    color: #e0e0e0;
}

/* #endregion Per-start */

/*#region says*/

.section-says h2{
    font-weight: 700;
font-size: 32px;
line-height: 1.78125;
letter-spacing: 0.01em;
color: #22343d;
}
.text-says{
    font-weight: 500;
font-size: 16px;
line-height: 1.75;
letter-spacing: 0.01em;
text-align: center;
color: #22343d;

 max-width: 540px;     /* ширина блока с текстом */
 margin-bottom: 40px;

}
.starts{
    display: flex;
}
.icons-start{
    fill: #f3cd03;
}
.ul-cst-says{
display: flex;
justify-content: center;
align-items: center;
gap: 64px;
}
.li-cst-says{
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: start;
 flex-direction: column;
 gap: 16px;
 border: 1px solid #dedede;
border-radius: 5px;
padding: 30px 35px;
}

.profile{
display: flex;
gap: 14px;
}
.profile-autor{
display: flex;
flex-direction: column;
}
.text-in-says{
    font-weight: 400;
font-size: 16px;
line-height: 1.75;
letter-spacing: 0.01em;
color: #737373;
}
.autor-prof{
font-weight: 500;
font-size: 14px;
line-height: 1.71429;
letter-spacing: 0.01em;
color: #252b42;
}
.autor-name{
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.01em;
color: #02897a;
}
/*#endregion says*/

/* #region Screen-start */

/* Section Screen start */

.color{
    border-radius: 32px;
width: 968px;
background: #02897a;
display: flex;

}
.screen-text{
font-weight: 600;
font-size: 32px;
line-height: 1.514;
color: #fff;
margin: 49px 0px 0px 51px;
width: 425px;
}
.scree-bnt{
font-weight: 600;
font-size: 20px;
color: #02897a;

margin: 46px 0 0 51px;

background: #fff;
border-radius: 8px;
min-width: 150px;
border: none;
}
.screen-photo{
    margin-left: 84px;
}
.photo-screen{
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
}


/* #endregion Screen-start */

/*#region Companies*/
.main-div{
    display: flex;
    flex-direction: row;
    border-radius: 32px;
width: 968px;

    background: #02897a;
}
.div-text{
    padding: 49px 10px 56px 51px;
}
.Companies p{
    font-weight: 600;
font-size: 32px;
line-height: 1.514;
color: #fff;
margin-bottom: 46px;
}
.Companies button{
    font-weight: 600;
font-size: 20px;
color: #02897a;
background: #fff;
padding: 10px 34px;
border: none;
border-radius: 8px;
}


.Companies button:hover,
.Companies button:focus{
    background: #02897a;
    color: #fff;
}
/*#endregion Companies*/

/* #region Fotter-- */ 


/* fotter */
.foter-text{
    padding: 0;
    
    justify-content: start;
    margin-bottom: 18px;
}
.foter-position{
    display: flex;
}
.logo-foter{
    margin-right: 146px;
}
.ul-f-icons{
 display: flex;
 gap: 10px;
 justify-content: space-around;
 align-items: center;
}
.li-f-icons{
    list-style: none;
}
.text-f-res, .text-f-leg{
font-weight: 500;
font-size: 20px;
line-height: 1.5;
color: #22343d;
margin-bottom: 8px;
}
.text-f-leg{
    width: 110px;
}
.resourse-foter{
    margin-right: 153px;
}
.ul-f-res{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.li-f-res, .li-f-leg{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #22343d;
}

.ul-f-leg{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.legal-foter{
    margin-right: 109px;
    
}
.text-end-f{
font-weight: 400;
font-size: 16px;
line-height: 1.875;
color: #22343d;
}
.other-foter{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.text-f-other{
font-weight: 500;
font-size: 20px;
line-height: 1.5;
color: #22343d;
margin-left: auto;
}
.btn-f{
    padding: 8px 15px;
font-weight: 700;
font-size: 16px;
text-align: center;
color: #fff;

background: #02897a;
border-radius: 4px;
max-width: 139px;
border: none;

}

.btn-f:hover,
.btn-f:focus{
    background: #fff;;
    color: #02897a;
}
.wrapper{
    gap: 10px;
}
.text-end-f{
    display: block;
   
font-weight: 400;
font-size: 16px;
line-height: 1.875;
color: #22343d;
margin-bottom: 46px;
}
.label-f{
border: 1px solid #bcd0e5;
background: #fff;
}
.input-f{
padding-left: 42px;
border: 1px solid #bcd0e5;
border-radius: 4px;
width: 325px;
height: 48px;
}
.input-f:hover,
.input-f:focus{
    border: 1px solid #bcd0e5;
}
.f-icons-tel{
    position: relative;
}
.iconsfortel{
    position: absolute;
    left: 13px;
    top: 10%;
    transform: translateY(40%);
}
 
.logo-icons{
    stroke-width: 2px;
stroke: #02897a;
fill: #fff;
}

.input-f::placeholder{
font-weight: 400;
font-size: 16px;
line-height: 1.75;
color: #02897a;
}



/* #endregion Fotter-- */



/*#region modal*/

.modal{
position: fixed;
background-color: rgba(0, 0, 0, 0.5);
background: rgba(46, 47, 66, 0.4);

top: 0;
left: 0;
width: 100%;
height: 100%;

z-index: 999; 

opacity: 0;
visibility: hidden;
pointer-events: none;
}
.modal-overlay{
 background: #fcfcfc;
position: absolute;

top:50%;
left: 50%;
transform: translate(-50%, -50%);

width: 598px;

border: 1px solid #ddd;
border-radius: 20px;
padding: 52px 49px;

}


.modal.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.form-text{
    font-weight: 700;
font-size: 24px;
line-height: 1.375;
letter-spacing: 0em;
color: #252b42;
margin-bottom: 21px;
text-align: center;
}

.modal-btn{
    padding: 18px 38px;
width: 145px;
height: 52px;
border-radius: 35px;

background: #02897a;

font-weight: 700;
font-size: 16px;
line-height: 1;
letter-spacing: 0.01em;
border: none;
color: #fff;
}
.modal-btn:hover,
.modal-btn:focus{
    background: #fff;
    color: #02897a;
}

.form-overlay{

}
.text-label{
    display: block;
    font-weight: 400;
font-size: 15px;
line-height: 1.06667;
letter-spacing: 0.01em;
color: #02897a;
margin-bottom: 8px;
}
.form-input{
border: 1px solid #02897a;
border-radius: 4px;
width: 100%;
height: 54px;
padding-left: 20px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.name, .email, .form-textarea{
    margin-bottom: 45px;
}
.form-textarea{
      width: 100%;
  min-height: 120px;
  padding: 10px 14px;
  font-size: 14px;
  line-height: 1.5;
  color: #2e2f42;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms ease;
}
.form-textarea:focus{
     border-color: #02897a;
}
.form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.text-area {
  margin-top: 20px; /* небольшой отступ от других полей */
}



.modal-close{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus{
    background-color: #404bbf;
    border: none;
}
/*#endregion modal*/